.main-profile {
    max-width:1000px;
    height:1000px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.header {
    width:100%;
    height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.header img {
    width:5%;
    height:auto;
}

.picture {
    width:75%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

