* {
  box-sizing:border-box;
}

h1 {
  text-align:center;
}

.App {
  max-width: 1000px;
  height:auto;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-content:center;
}

.container {
  display:flex;
  flex-direction:column;
}